/* Leptop-device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* lg-device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .header-login a {
        font-size: 10px;
    }
    .main-menu ul li {
        margin-left: 22px;
    }
    .hero-wrapper .back-text {
        font-size: 211px;
    }
    .section-title h2 {
        font-size: 40px;
    }
    .section-title .s-back-title {
        font-size: 100px;
    }
    .event-img img {
        width: 100%;
    }
    .event-tile h2 {
        font-size: 52px;
        
    }
    .event-tile h1 {
        font-size: 217px;
    }
    .card-main {
        width: 271px;
        
    }
    .card .card-img span {
        font-size: 12px;
        top: 20px;
        left: 155px;
    }
    .up-event-content h3 {
        font-size: 29px;
    }
    .single-fact h1 {
        font-size: 60px;
    }
    .footer-area  {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .header-info-text h4 {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        margin: 0px;
    }
    .header-info ul li.header-info-last{
        display: none;
    }
    .header-btn .f-btn {
        margin-right: 60px;
        margin-top: 13px;
    }
    .mean-container a.meanmenu-reveal {
       
        margin-top: -49px;
       
    }
    .logo {
        transform: translateY(7px);
    }
    .hero-wrapper .back-text {
        font-size: 150px;
        
    }
    .hero-wrapper h2 {
        font-size: 70px;
       
    }
   
  .hero-wrapper.position-relative.text-center {
	margin-top: 160px;
}
.event-tile h2 {
	font-size: 45px;
	font-weight: 600;
}
.event-tile h1 {
	font-size: 154px;
	
}
.event-img img {
	width: 100%;
}
.up-event-content h3 {
	font-size: 33px;
}
.up-event-content span {
	font-size: 15px;
	color: #8d8db4;
	display: block;
	margin-bottom: 24px;
}
.f-btn.border-btn {
	margin-right: 55px;
}
.single-fact h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 600;
}
.news-content h4 {
	font-size: 15px;
}
.news-content p {
	font-size: 12px;
}
.news-content {
	padding: 15px 35px;
	padding-top: 20px;
}
}


 
/* small mobile :320px. */
@media (max-width: 767px) {
    .mean-container a.meanmenu-reveal {
        margin-top: -40px;
    }
    .logo {
        margin-top: 11px;
    }
    .hero-wrapper h2 {
        font-size: 30px;
    }
    .hero-wrapper .back-text {
        font-size: 80px;
    }
    .hero-area {
        min-height: 806px;
    }
    .section-title .s-back-title {
        font-size: 80px;
    }
    .section-title h2 {
        font-size: 30px;
    }
    .f-faq .btn-link {
        font-size: 13px;
    }
    .event-tile h1 {
        font-size: 82px;
        top: 66px;
    }
    .event-tile h2 {
        font-size: 30px;
    }
    .pb-90 {
        padding-bottom: 75px;
    }
    .card-main {
        width: 100%;
    
        
    }
    .card .card-img span {
        font-size: 11px;
        left: 190px;
    }
    .event-content h2 {
        font-size: 23px;
    }
    .event-content p{
        font-size: 15px;
    }
    .card.card-main {
        margin-bottom: 20px;
    }
    .team-area .team-box {
        margin-bottom: 33px;
    }
    .up-to-date.f-left {
        float: none;
        margin-bottom: 20px;
    }
    .up-event-btn {
        text-align: center !important;
    }
    .single-fact {
        border-right: 0;
        padding: 50px 0px;
    }
    .letest-thum img {
        width: 100%;
    }
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.card .card-img span {
	left: 300px;
}
 
}
